*{
    box-sizing: border-box;
}

.wrapper{
    margin: 0 auto;
    max-width: 1170px;
    width: 50%;
}
h1{
    font-weight: normal;
    color: rgb(44, 44, 44);
}
input[type=text], input[type=email], input[type=date]{
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid rgb(228, 223, 223);
}
p{
    margin: 0;
}
.column1{
    margin: 15px auto 0;
}
textarea{
    width: 100%;
    padding: 15%;
}
input[type=date]{
    margin: 0;
    width: 50%;
}
input[type=submit]{
    padding: 8px;
}
