*{
    box-sizing: border-box;
}

.wrapper{
    margin: auto;
    width: 50%;
}
input[type=text], input[type=email]{
    width: 100%;
    padding: 12px;
    /* border: 1px solid black; */
    border-radius: 5px;
    transition: background-color 0.8s, border 1s;
}
input[type=text]:hover, input[type=email]:hover{
    background-color: rgb(214, 211, 205);
    border: 1px solid black;
}
.column1, .column2{
    margin: 10px auto;
}
textarea{
    width: 100%;
    padding: 15%;
}
.ad{
    margin: 0;
    width: 50%;
}
input[type=submit]{
    padding: 8px;
}
